body{
    margin: 0;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
}

article{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    padding: 2%;
}


/* mobile */

button{
    padding: 10%;
}


.menu-button{
    cursor: pointer;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.menu-button i.material-icons{
    font-size: 2.5rem;
}

#container {
    height: 100vh;
    background-color: aquamarine;
    grid-template-rows: 10%;
    display: grid;
    grid-template-areas:
    'n h h h'
    'm m m m ' 
    'm m m m ' 
    'm m m m ' 
    'm m m m '  
    ;
}
    nav{
        grid-area: n;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: rgb(123, 221, 188);
    }
    header{
        grid-area: h;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        background-color: rgb(123, 221, 188);
    }
    
    main#home{
        grid-area: m;
        display: grid;
        grid-template-rows: 25%;
        grid-template-areas: 
        'sinput'
        'slist'
        ;
    }
        section.list{
            grid-area: slist;
            display: grid;
        }

    main#add{
        grid-area: m;
        display: grid;
        grid-template-rows: 50%;
    }
        div.add{
            cursor: pointer;
            height: 100%;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
        }
        #add article{
            background-color: rgb(123, 221, 188);
            height: 100%;
            width: 100%;
            margin: 0;
            text-align: center;
        }

    main#list{
        grid-area: m;
    }
        section.lista{
            grid-area: m;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            }
    
    main#omOss{
        grid-area: m;
        display: grid;
        grid-template-rows: 50%;
        grid-template-columns: 50%;
        grid-template-areas: 
        'sl ar'
        'al sr'
        ;
        }
        section.mogel{
            grid-area: sr;
        }
        section.fras{
            grid-area: sl;
        }
        article.al{
            grid-area: al;
            margin: 0%;
        }
        article.ar{
            grid-area: ar;
            margin: 0%;
        }

    .menu{
        height: 100vh;
        width: 80vw;
        background-color:white;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
    }
    .show{
        left: 0;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    .fade-layer.visible{
        display: block;
    } 

        

@media screen and (max-width:479px){
    .aupp{
        display: none;
    }
    .aleft{
        display: none;
    }
    .aright{
        display: none;
    }
    nav{
        align-items: baseline;
    }
    nav.desk a{
        display: none;
    }
}



@media screen and (min-width:1024px){
    #container {
        grid-template-rows: 10% 5% 1fr 1fr;
        grid-template-areas:
        'h h h h'
        'n n n n' 
        'm m m m'
        'm m m m'
        ;
    }
        main#home{
            grid-template-rows: 50%;
            grid-template-areas: 
            'sinput aupp'
            'aleft aright'
            ;
        }
        .aupp{
            grid-area: aupp;
            display: flex;
        }
        .aleft{
            grid-area: aleft;
            display: flex;
        }
        .aright{
            grid-area: aright;
            display: flex;
        }
        section.list{
            display: none;
        }
        .menu-button{
            display: none;
        }
        nav.menu a{
            display: none;
        }
        a{
            margin: 1%;
        }

}